.hover {
    transition: var(--transition-micro-medium);

    &:hover {
        transform: translateX(var(--static-space-4));
    }
}

.techCard {
    transition: var(--transition-micro-medium);

    &:hover {
        background: var(--neutral-background-medium);
        border-color: var(--neutral-border-strong);
    }
}

@media (--s) {
    .textAlign {
        text-align: center;
    }

    .blockAlign {
        align-self: center;
    }
}